@charset "UTF-8";
@import url("../Обнуление.css");
html,
body {
  font-family: "Montserrat";
  height: 100%;
  --text-color: #252B42;
  --second-text-color: #737373;
  --button-color: #FF7B47;
  --second-button-color: #0D5C63;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1045px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*================HEADER=================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__body {
  padding: 36px 0;
  display: flex;
  align-content: center;
}
.header__logo {
  margin: 0 132px 0 0;
}
.header__logo a {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.header__burger {
  display: none;
}
.header__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__links a {
  color: var(--second-text-color);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.header__links li:not(:last-child) {
  margin: 0 20px 0 0;
}

/*================BURGER==================*/
@media (max-width: 767px) {
  .header__body {
    justify-content: space-between;
  }
  .header__logo {
    z-index: 2;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9.5px;
    background-color: #000;
    transition: 0.4s linear;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    transition: 0.3s linear;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 70px 0 0 0;
    transition: 0.5s cubic-bezier(0.3, -0.3, 0.7, 0);
  }
  .header__menu.active {
    top: 0;
  }
  .header__links {
    padding: 35px 0 0 0;
    display: block;
    text-align: center;
  }
  .header__links li:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .header__links a {
    font-size: 18px;
    position: relative;
  }
  .header__links a:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    border-radius: 40%;
    background-color: grey;
    left: calc(50% - 17.5px);
    bottom: -10px;
  }
}
@media (max-width: 540px) {
  .header__logo {
    margin: 0 65px 0 0;
  }
  .header__links a {
    font-size: 20px;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9.5px;
    background-color: var(--text-color);
    transition: 0.4s linear;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    left: 0;
    transition: 0.3s linear;
  }
}
/*==============PAGE===================*/
.page {
  flex: 0 1 auto;
}
.page__body {
  position: relative;
}
.page__mainblock {
  padding: 116px 0 0 0;
}
.page__mainblock-title {
  max-width: 509px;
}
.page__mainblock-title h1 {
  color: var(--text-color);
  font-weight: 800;
  line-height: calc(33px + 3.2638888889vw);
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .page__mainblock-title h1 {
    font-size: calc(26px + 54.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .page__mainblock-title h1 {
    font-size: calc(26px + 32 * (100vw / 1440));
  }
}
.page__mainblock-subtitle {
  color: var(--second-text-color);
  max-width: 376px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .page__mainblock-subtitle {
    font-size: calc(15px + 8.5 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .page__mainblock-subtitle {
    font-size: calc(15px + 5 * (100vw / 1440));
  }
}
.page__mainblock-buttons {
  margin: 35px 0 0 0;
  padding: 0 0 191px 0;
}
.page__mainblock-button {
  text-align: center;
  padding: 10px 36px;
  color: #fff;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  border-radius: 35px;
  transition: 0.4s linear;
}
.page__mainblock-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
.page__mainblock-image img {
  -o-object-position: top;
     object-position: top;
}

.button__orange {
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: #FF7B47;
  margin: 0 10px 0 0;
}
.button__orange:hover {
  background-color: var(--button-color);
  color: #fff;
}
.button__green {
  color: var(--second-button-color);
  border: 2px solid var(--second-button-color);
}
.button__green:hover {
  background-color: var(--second-button-color);
  color: #fff;
}

@media (max-width: 767px) {
  .page__mainblock {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .page__mainblock-title h1 {
    line-height: calc(33px + 79.9 * (100vw - 320px) / 1440);
  }
  .page .button__orange {
    background-color: #FF7B47;
    color: #fff;
  }
}
@media (max-width: 767px) and (max-width: 540px) {
  .page .page__mainblock-subtitle {
    max-width: 240px;
  }
  .page .page__mainblock-buttons {
    display: flex;
    flex-direction: column;
  }
  .page .page__mainblock-button {
    width: 200px;
    margin: 0 0 10px 0;
  }
}
/*===============SERVICES================*/
.services__container {
  position: relative;
}
.services__body {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -111px;
  left: 0;
}
.services__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
.services__item {
  background-color: #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  padding: 35px;
}
.services__item h2 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin: 10px 0;
}
.services__item p {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.item__green {
  background-color: #0D5C63;
}
.item__green h2,
.item__green p {
  color: #fff;
}

/*==============FOOTER===================*/